**Criação de uma tabela anual para agregar todos os arquivos .cvs de 2021**

In [ ]:
-- CRIAR TABELA PARA ARMAZENAR TODOS OS DADOS DE 2021


CREATE TABLE dbo.tripdata_divvy_2021
(
ride_id NVARCHAR(MAX),
rideable_type NVARCHAR(MAX),
started_at DATETIME2,
ended_at DATETIME2,
start_station_name NVARCHAR(MAX),
start_station_id NVARCHAR(MAX),
end_station_name NVARCHAR(MAX),
end_station_id NVARCHAR(MAX),
start_lat FLOAT,
start_lng FLOAT,
end_lat FLOAT,
end_lng FLOAT,
member_casual NVARCHAR(MAX),
ride_length_s FLOAT,
week_day FLOAT,
y_month NVARCHAR(MAX),
)

**Inserindo todos os dados provenientes das tabelas de janeiro a dezembro em nova nossa tabela anual para 2021**

In [ ]:
-- INSERIR DADOS NA TABELA CRIADA


-- 1
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Jan' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_01 -- Repetir para cada tabela
-- 2
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Fev' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_02 -- Repetir para cada tabela
-- 3
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Mar' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_03 -- Repetir para cada tabela
-- 4
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Abr' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_04 -- Repetir para cada tabela
-- 5
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Mai' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_05 -- Repetir para cada tabela
-- 6
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Jun' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_06 -- Repetir para cada tabela
-- 7
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Jul' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_07 -- Repetir para cada tabela
-- 8
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Ago' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_08 -- Repetir para cada tabela
-- 9
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Set' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_09 -- Repetir para cada tabela
-- 10
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Out' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_10 -- Repetir para cada tabela
-- 11
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Nov' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_11 -- Repetir para cada tabela
-- 12
INSERT INTO dbo.tripdata_divvy_2021
SELECT *,
DATEDIFF(second, started_at, ended_at), -- Calcular tempo do passeio
DATEPART(weekday, started_at), -- Calcular dia da semana, 1=Domingo, 7=Sábado
'Dez' -- Mudar o mês a cada tabela
FROM dbo.tripdata_divvy_2021_12 -- Repetir para cada tabela

**Limpeza dos dados**

In [ ]:
-- LIMPEZA DOS DADOS

-- Verificar se existem valores digitados incorretamente.
SELECT DISTINCT
rideable_type
FROM
dbo.tripdata_divvy_2021
SELECT DISTINCT
member_casual
FROM
dbo.tripdata_divvy_2021

-- Remover espaços em branco de todas as colunas que contém strings
UPDATE
dbo.tripdata_divvy_2021
SET
ride_id = TRIM(ride_id),
start_station_name = TRIM(start_station_name),
start_station_id = TRIM(start_station_id),
end_station_name = TRIM(end_station_name),
end_station_id = TRIM(end_station_id);

-- Deletar todas as linhas que contenham valores nulos
DELETE FROM dbo.tripdata_divvy_2021
WHERE start_station_name IS NULL OR start_station_id IS NULL OR end_station_name IS
NULL OR end_station_id IS NULL OR end_lat IS NULL OR end_lng IS NULL;

-- Verificar se existem valores duplicados
SELECT TOP 10
ride_id,
COUNT(ride_id) AS cont
FROM
dbo.tripdata_divvy_2021
GROUP BY
ride_id
HAVING
COUNT(ride_id) > 1;

-- Deletar valores inferiores ou iguais a 60 segundos na coluna tempo de viagem
DELETE FROM dbo.tripdata_divvy_2021
WHERE
ride_length_s <= 60